/* Estiliza o corpo da página */
body {
  /* Oculta a barra de rolagem horizontal */
  overflow-x: hidden;
  /* Define a altura do corpo como automática */
  height: auto;
}

/* Estiliza a tela */
.tela {
  /* Define o layout como flexbox */
  display: flex;
  /* Adiciona um espaçamento de 20px entre os elementos */
  gap: 20px;
}

/* Estiliza o cabeçalho */
.cabecalho {
  /* Define o layout como flexbox */
  display: flex;
  /* Define a largura do cabeçalho como 100% */
  width: 100%;
  /* Adiciona um espaçamento de 670px entre os elementos */
  gap: 670px;
}

/* Estiliza o perfil */
.perfil {
  /* Define a largura do perfil como 100% */
  width: 100%;
  /* Define o layout como flexbox */
  display: flex;
}

/* Estiliza os selects */
select {
  /* Define a altura do select como 20px */
  height: 20px;
  /* Posiciona o select 25px acima da sua posição original */
  position: relative;
  top: 25px;
}

/* Estiliza o main */
main {
  /* Posiciona o main 270px à esquerda da sua posição original */
  margin-left: 330px;
}

@media (Min-width:2130px){
  main{
  margin-left: 365px;
  }
  .cabecalho{
    gap: 900px;
  }
}
@media (Min-width:2530px){
  main{
  margin-left: 495px;
  }
}
@media (Min-width:2130px){
  main{
  margin-left: 395px;
  }
  .cabecalho{
    gap: 890px;
  }
}