/* Define um contêiner flexível com um espaço (gap) de 20px entre os itens */
.tela {
  display: flex;
  gap: 20px;
}

/* Estiliza o cabeçalho para ser flexível e distribuir o conteúdo com um grande espaço (gap) de 770px */
.cabecalho {
  display: flex;
  width: 100%;
  gap: 770px;
}

/* Estiliza a seção de perfil para ser flexível, ocupar toda a largura disponível e ter um espaço (gap) de 10px entre os itens */
.perfil {
  width: 100%;
  display: flex;
  gap: 10px;
}

/* Define a altura dos elementos select e ajusta a posição para ficar 25px abaixo */
select {
  height: 20px;
  position: relative;
  top: 25px;
}

/* Define a posição relativa da seção principal e desloca-a 280px para a esquerda */
.principal {
  position: relative;
  left: 280px;
}

