/* Classe para centralizar e alinhar os elementos da tabela */
.form-table {
  display: flex;
  /* Define um contêiner flexível */
  flex-direction: column;
  /* Define a direção dos itens flexíveis como coluna */
  align-items: center;
  /* Centraliza os itens ao longo do eixo cruzado */
  justify-content: center;
  /* Centraliza os itens ao longo do eixo principal */
  gap: 10px;
  /* Espaçamento de 10px entre os itens */
}

/* Classe para organizar os elementos do formulário em uma grade */
.form-grid {
  display: grid;
  /* Define um contêiner de grade */
  grid-template-columns: repeat(2, 1fr);
  /* Define duas colunas de tamanho igual */
  gap: 1rem;
  /* Espaçamento de 1rem entre os itens da grade */
}

/* Especifica que o primeiro e o oitavo campo do formulário devem ocupar as duas colunas */
.form-grid .p-field:nth-child(1),
/* Aplica a regra ao primeiro filho da classe p-field dentro do form-grid */
.form-grid .p-field:nth-child(8) {
  /* Aplica a regra ao oitavo filho da classe p-field dentro do form-grid */
  grid-column: span 2;
  /* Faz o campo ocupar duas colunas */
}